body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(56, 53, 53);
}
#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(17, 16, 16);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(143, 136, 136);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgb(83, 80, 80);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(66, 64, 64);
}
button:active {
  background-color: rgb(104, 99, 99);
}
.operator-btn {
  background-color: rgb(226, 110, 16);
}
.operator-btn:hover {
  background-color: rgb(253, 188, 8);
}
.operator-btn:active {
  background-color: rgb(240, 167, 9);
}
